<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/nav'); -%>
      <section class="w50">
        <h2>Page edited successfully!!!</h2>
      </section>
      <div class="clear"></div>
  </body>
  <%- include('layouts/footer'); -%>